{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}
<div class="container workshopList">
{% include "security/_messages.html" %}
<h1>{{ _('Change password') }}</h1>
<form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
  {{ change_password_form.hidden_tag() }}
  {{ render_field_with_errors(change_password_form.password, class ='form-control' ) }}
  {{ render_field_with_errors(change_password_form.new_password , class ='form-control' ) }}
  {{ render_field_with_errors(change_password_form.new_password_confirm , class ='form-control' ) }}
  {{ render_field(change_password_form.submit) }}
</form>
</div>
{% endblock %}
