{% extends "base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}
{% include "security/_messages.html" %}

<div class="container workshopList ">

   <div class="row no-gutters justify-content-md-center align-items-center ">

     <div class=" col col-12 col-sm-8 col-md-4 col-lg-4 form-group">
       <h1 class="center">{{ _('Connection') }}</h1>
			<form action="{{ url_for_security('login') }}" method="POST" name="login_user_form" class="form form-horizontal" >

			  {{ login_user_form.hidden_tag() }}
			  {{ render_field_with_errors(login_user_form.email , class ='form-control') }}
			  {{ render_field_with_errors(login_user_form.password , class ='form-control' ) }}

        {{ render_field_with_errors(login_user_form.remember) }}

        {{ render_field(login_user_form.submit,  class ='form-control') }}

        {% if security.recoverable %}
        <a href="{{ url_for_security('forgot_password') }}">{{ _('Mot de passe oublié?') }}</a><br/>
        {% endif %}

        {% if security.registerable %}
        <br><a href="{{ url_for_security('register') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">{{ _('S&#39;enregistrer pour un compte BeMaker') }}</a><br/>
        {% endif %}

         </form>

        </div>
	   </div>
	</div>

{% endblock %}
