{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}
{% include "security/_messages.html" %}



<div class="container workshopList ">

   <div class="row no-gutters justify-content-md-center align-items-center">
     <div class=" col col-12 col-sm-8 col-md-4 col-lg-4 form-group">

       <h1 class="center">{{ _('Register') }}</h1>
       <br><br>
		<form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
		  {{ register_user_form.hidden_tag() }}
      {{ render_field_with_errors(register_user_form.first_name , class ='form-control') }}
      {{ render_field_with_errors(register_user_form.last_name , class ='form-control') }}
      {{ render_field_with_errors(register_user_form.email , class ='form-control') }}
		  {{ render_field_with_errors(register_user_form.password , class ='form-control') }}
		  {% if register_user_form.password_confirm %}
		    {{ render_field_with_errors(register_user_form.password_confirm , class ='form-control' ) }}
		  {% endif %}
      <br><br>
		  {{ render_field(register_user_form.submit , class ='form-control' ) }}

		</form>

	</div>
</div>
</div>

{% endblock %}
