// @font-face {
//   font-family: "hershey";
//   src: url(fonts/hershey-futuram-webfont.woff2) format("woff2"), url(fonts/hershey-futuram-webfont.woff) format("woff");
//   font-weight: 400;
//   font-style: normal;
// }

@font-face {
  font-family: "hershey";
  //Medium weithg
  src: url(fonts/Hershey-futuram-1-1.woff) format("woff"), url(fonts/Hershey-futuram-1-1.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "hershey-light";
  src: url(fonts/Hershey-futural.woff) format("woff"), url(fonts/Hershey-futural.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "hershey-bold";
  src: url(fonts/Hershey-futurab.woff) format("woff"), url(fonts/Hershey-futurab.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoitalic';
    src: url('fonts/roboto-italic-webfont.woff2') format('woff2'),
         url('fonts/roboto-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('fonts/roboto-light-webfont.woff2') format('woff2'),
         url('fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedlight';
    src: url('fonts/robotocondensed-light-webfont.woff2') format('woff2'),
         url('fonts/robotocondensed-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedlight_italic';
    src: url('fonts/robotocondensed-lightitalic-webfont.woff2') format('woff2'),
         url('fonts/robotocondensed-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedregular';
    src: url('fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
         url('fonts/robotocondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condenseditalic';
    src: url('fonts/robotocondensed-italic-webfont.woff2') format('woff2'),
         url('fonts/robotocondensed-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('fonts/robotocondensed-bold-webfont.woff2') format('woff2'),
         url('fonts/robotocondensed-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedbold_italic';
    src: url('fonts/robotocondensed-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/robotocondensed-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.cb {
  clear: both;
}


.center {
  text-align: center;
}

h1, h2, h3, h4, h5 {
  font-family: "hershey";
  font-weight: bolder;
  // text-align: center;
}
.material-icons.md-18 { font-size: 18px;vertical-align: middle; }
.material-icons.md-24 { font-size: 24px;vertical-align: middle; }
.material-icons.md-36 { font-size: 36px; vertical-align: middle;}
.material-icons.md-48 { font-size: 48px; vertical-align: middle;}
.material-icons.md-100 { font-size: 100px; vertical-align: middle;}



.answerCenter{
  width: 60%;
  margin: auto;
}
.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}






#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #eaeaea; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}


.svgDraw{
  width: 100%;
  text-align: center;
  height: 200px;
  object{
    max-height: 100%;
  }
}


.panel {
    position: fixed;
    left: -15.625em; /*left or right and the width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
    background: white;
    z-index: 1000;
    border-right: solid 1px #666;
    ul {
      list-style: none;
      margin-left: 0;
      padding-left: 0;

      li .logo{
        margin: auto;
        margin: auto !important;
        display: block;
        margin-top: 20px;
        height: 80px;
      }
      li{
        font-size: 22px;
        padding-right: 34px;
        text-align: right;
        a{
          color: #333;
        }
        &:first-child{
        padding-left: 0!important;
        margin-left: 0!important;
        }
      }
    }
}

.menu-link {
  display: none;
  position:fixed;
  top:10px;
  left:10px;
  width: 40px ;
  height: 40px;
  font-size:24px;
  color: #fff;
  z-index: 900;
  background: #17a2b8;
  border-radius: 3px;
  text-align: center;
  line-height: 40px;
  &:hover{
    text-decoration: none;

  }
}
.no-gutter {
  margin: 0;
  padding: 0;
}

.spacer {
  height: 50px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 18px;
  font-family: "robotoregular"
}

nav {
  font-family: "hershey";
  font-size: 18px;
  position: fixed;
  width: 100%;
  background: white;
  z-index: 1000;
  box-shadow:0 -3px 10px rgba(100,100,100,0.2);
  .logo {
    width: 45px;
    height: 45px;
    background: url(../img/logo.png) center center no-repeat;
    background-size: contain;
    margin: 10px;
    display: inline-block;
  }
}

.pageWrap{
  min-height: 100vh!important;
  padding-top: 77px;
}

ul {
  &#menuMain li {
    display: inline-block;
    list-style: none;
    padding-top: 5px;
    margin-right: 20px;
    height: 50px;
    float: left;
    vertical-align: middle;
    margin-top: 20px;
    text-align: center;
    position: relative;
    &:first-child {
      padding: 0;
      height: 40px;
      margin-top: 0;
    }
    span:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 0;
      bottom: 20px;
      background: red;
      transition: all 0.1s linear;
    }
    &:hover span:before {
      height: 2px;
      bottom: 10px;
      background: red;
    }
    a {
      color: #000;
      text-decoration: none;
      &:hover {
        color: #666;
        text-decoration: none;
      }
    }
  }
  &#menuSecond {
    text-align: right;
    margin-right: 20px;
    #mc_embed_signup_scroll{
      display: none;
    }
    .newsletter-form-menu{
      width: none;
      margin-top: 22px;
      font-size: 14px;
      float: left;
      input{
      }
      input#mce-EMAIL{
        float: left;
        width: auto;
        margin-right: 10px;
        width: 220px;
      }
      input#mc-embedded-subscribe{
        width: auto;
        float: left;
      }
    }
    li {
      display: inline-block;
      list-style: none;
      padding: 5px 10px;
      height: 40px;
      vertical-align: middle;
      margin-top: 20px;
      text-align: center;
      a {
        color: #000;
        text-decoration: none;
        &:hover {
          color: #666;
          text-decoration: none;
        }
      }
    }
  }
}

.carousel .container {
  position: relative;
  z-index: 9;
}

.carousel-control {
  height: 500px;
  margin-top: 0;
  font-size: 120px;
  background-color: transparent;
  border: 0;
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 10%;
  font-size: 10px;
  color: #fff;
  text-align: center;
  text-shadow: 0;
  background-color: rgba(0, 0, 0, 0);
  opacity: 1;
  .left {
    height: 100%;
  }
}

.carousel {
  .item {
    height: 500px;
    max-height: 500px;
  }
  .home-item{
    height: 719px;
    max-height: 719px;
    img {
      display: block;
      width: 100%;
    }
  }
}

.home-carousel{
  height: 719px;
}

.carousel-control {
  &.right, &.left {
    background-image: none !important;
    background-repeat: repeat-x;
  }
}

.cta {
  text-align: center;
  border-radius: 4%;
  padding: 20px;
  border: solid 1px #add8e6;
  a{
    text-decoration: none;
    color: black;
  }
  img {
    max-height: 80px;
  }
  &:hover i{
    color:#17a2b8;
  }
  .ico {
    height: 100px;
  }
  h3 {
    font-size: 24px;
    margin-top: 20px;
  }
}

.cta-btn {
  padding: 20px 0;
  align-items: center;
   justify-content: center;
}

.homePush h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
  color: #000;
}

.greyBg {
  background: #002B36;
  h2 {
    color: #fff;
  }
}

.homePush {
  padding-top: 40px;
  padding-bottom: 50px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 50px;
  position: relative;
}

div.tutoContent{
    div.toc::before{
      content: 'Table of content : ';
      text-transform: uppercase;
      font-variant: small-caps;
      font-family: 'hershey';
    }
    div.toc{
      a{
        color: black;
      }
      a:hover{
        color: grey;
        text-decoration: none;
      }
      width: 100%;
      position: fixed;
      width: 380px;
      left: 20px;
      top: 200px;
      margin: 30px;
      padding: 30px;
      background-color: white;
      outline: solid 1px black;
      z-index: 1;
      li li li{
        display: none;
      }
    }
}

div.person{
  text-align: center;
  a{
    color: grey;
  }
}

img.person-bubble{
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: blue;
  clear: both;
  margin-bottom: 32px;
}

.tutoItem .tutoBox {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 2%;
  text-align: center;
  max-height: 300px;
  img {
    max-width: 110%;
    min-height: 100%;
    display: block;
    width: 100%;
    height: 100%;
  }
  .overTuto {
    position: absolute;
    bottom: -20%;
    width: 100%;
    height: 50%;
    transition: bottom .2s ease;
    color: #fff;
    &:before {
      content: "";
      position: absolute;
      top: 15px;
      width: 20px;
      height: 20px;
      z-index: 999;
      left: 50%;
      border-radius: 50%;
      margin-left: -10px;
      transition: all 0.2s ease;
      background-size: 80%!important;
      background-position: center!important;
    }
  }
  .elec.overTuto:before {
    background: #90ee90;
  }
  .prog.overTuto:before {
    background: blue;
  }
  .usinage.overTuto:before {
    background: red;
  }
  .laser.overTuto:before {
    background: orange;
  }
  &:hover {
    .elec.overTuto:before {
      background: url(../img/electronique.png) no-repeat #90ee90;

    }
    .laser.overTuto:before {
      background: url(../img/laser.png) no-repeat #90ee90;

    }
    .prog.overTuto:before {
      background: url(../img/cncico.png) no-repeat blue;

    }
    .usinage.overTuto:before {
      background: url(../img/3dprint.png) no-repeat red;

    }
    .overTuto {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: #2c3e50;
      height: 50%;
      &:before {
        top: -85px;
        width: 100px;
        height: 100px;
        left: 50%;
        margin-left: -50px;
      }
    }
  }
  .overTuto {
    h4 {
      text-align: center;
      font-size: 18px;
      padding: 30px 0 10px;
    }
    span {
      text-align: center;
      font-size: 14px;
      display: block;
    }
  }
}


.workshopList{
  padding-top: 40px;
}
.workshopList ul {
  list-style: none;
  li {
    min-height: 150px;
    display: block;
    margin-bottom: 20px;
    img {
      max-width: 100%;
      border-radius: 2%;
    }
    h3 {
      margin-top: 0;
      margin-bottom: 10px;
    }
    .subbtn {
      position: relative;
      text-align: center;
        height: 120px
      a {
        display: block;
        position: absolute;
        top: 45px;
        left: 0;
        width: 100%;
        min-height: 100%;

      }
    }
    .desc .wsdate {
      background: #002B36;
      border: solid 1px #111;
      color: #eee;
      padding: 3px;
      border-radius: 4px;
    }
    .desc p{
      min-height: 100px;
      height: 100px;
      overflow: hidden;
      position: relative;
      transition: height 2s;
      transition: max-height 2s;
      &:before{
        content:'';//''↓';
        font-size: 24px;
        text-align: center;
        line-height: 40px;
        position: absolute;
        width: 100%;
        bottom: -10px;
        height: 40px;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,0.51) 0%, rgba(255,255,255,1) 81%);
      }
      &.openDiv{
      height: auto!important;
      max-height: 1500px;
      }
      &.openDiv:before {
      content:'';
      background: transparent
      }
      ul li{
        margin-bottom: 5px;
      }
    }

  }
}

.badgesList{
  margin-top: 50px;
}

.badgeImg{
  border-radius: 50%;
  background-color: #ecf0f1;
  overflow: hidden;
  flex: 1 0 auto;
  height:auto;
  position: relative;
  background-repeat :no-repeat;
  background-position: center center ;
  background-size: 90%

}

  .badgeImg.laser{
    background-image: url(../img/laser.png) ;
  }

  .badgeImg.cnc{
    background-image: url(../img/cnc.png) ;

  }

  .badgeImg.electronique{
    background-image: url(../img/electronique.png) ;

  }

  .badgeImg.cad{
    background-image: url(../img/electronique.png) ;

  }

  .badgeImg.impression3d {
    background-image: url(../img/3dprint.png) ;

  }

  .badgeImg.maker {
    background-image: url(../img/solder.png) ;

  }



.badgeImg.active{
  background-color:#2ecc71;
}


.badgeImg.fail{
  background-color:#e74c3c;
}




/*.badgeImg img{
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}*/

.badgeImg:before {
    content:'';
    float:left;
    padding-top:100%;
}

.badgeItem {
  display: block;
  text-align: center;
  justify-content: space-around;
 }


 footer {
   background: #2c3e50;
   height: auto;
   padding-top: 100px;
   padding-bottom: 100px;
   img.logo-partn{
     max-width: 300px;
   }
   img.social-logo{
     max-width: 60px;
   }
   h4{
     color: white;
   }
   ul{
     list-style-type: none;
     display: inline-block;
   }
   li{
     text-align: center;
     float: left;
   }
   address{
     color: white;
   }
   p.contact{
     color: white;
     a{color: lightgrey}
   }
 }




@media only screen and (max-width: 825px){
  #menuMain , #menuSecond{
    display: none;
  }
  .menu-link{
    display: block;
  }

  .home-carousel{
    height: 290px
  }

  .carousel {
    .item {
      height: 300px;
      max-height: 300px;
    }
    .home-item{
      height: 290px;
      max-height: 290px;
      img {
        height: 290px !important;
        width: auto;
      }
    }
  }

  div.tutoContent{
    div.toc{
      position: inherit;
      width: 100%;
      top: inherit;
      padding: 10px;
      margin: -20px;
    }
  }



}
