<img src="http://bemaker.eu/static/img/jumbo.png">

<h1>{{ _('Welcome %(email)s!', email=user.email) }}</h1>

{% if security.confirmable %}
<p>{{ _('You can confirm your email through the link below:') }}</p>

<p><a href="{{ confirmation_link }}">{{ _('Confirm my account') }}</a></p>
{% endif %}

<p>Thank you for signing up for an account on bemaker.eu</p>

<p>User accounts let you access the various quizzes we've built to let you see what understanding you've acquired on the various fablab related subjects we speak about on bemaker.eu. These quizzes let you earn badges that can help you see how you're learning, and suggest other topics you might be interested in.</p>

<p>Now that you account is created, you can simply <a href="http://bemaker.eu/login">log in</a> to access your <a href="http://bemaker.eu/dashboard">dashboard</a></p>

<p>You can reset your password at any time by filling out the <a href="http://bemaker.eu/reset">password reset form.</a></p>

<p>Thanks again for signing up on bemaker.eu, please get in touch with us if you have any questions either by using our <a href="http://bemaker.eu/contact">contact form</a> or by emailing <a href="mailto:hello@bemaker.eu">hello@bemaker.eu</a></p>

<p>Warmest regards,</p>

<p>The beMaker team.</p>
