{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>bemaker.eu admin page</h1>
            <p class="lead">Welcome to the beMaker website administration, here you can manage users, their roles and add events to be rendered by the site. Access the various sections with the buttons on the top of this page.</p>
            {% if current_user.is_authenticated %}
            {% if current_user.has_role('admin') %}
            <li><p>adding events from eventbrite:
              <br>event brite ids are <b>11 character strings</b> that look like this <code>51452858886</code>
              <br>this was extracted from the url iteself which looks like this <code>https://www.eventbrite.co.uk/e/inscription-coderdojo-braine-lalleud-03112019-session-de-14h-51452858886</code>
              <br>so the id that is needed to fill out the form in /admin/events is the last part of the url, it will never be longer than 11 numbers. No other characters can be added into the id, no '?', no ';' or any type of punctuation. No other characters than numbers are needed, so if your url looks like this; <code>https://www.eventbrite.co.uk/e/inscription-coderdojo-braine-lalleud-03112019-session-de-14h-51452858886?aff=ebdssbdestsearch</code> be sure to take only the 11 numbers before the question mark.
              </p>
            </li>
            <li>
              <p>Remider: static text content is managed via markdown files, located at https://gitlab.com/bemaker/eu.bemaker.flask/tree/master/app/md_sources. Files that are prefixed with <code>texte_</code> are simple static texts for the static pages of the website, the other documents make up the http://bemaker.eu/learn section of the site.</p>
            </li>
            {% endif %}
            {% endif %}
            <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
        </div>
    </div>
</div>
{% endblock body %}
