{% extends "base.html" %}

{% block content %}


<div class="container">

<div class="spacer"></div>
<h1 class="center">{{_("À propos")}}</h1>
<div class="row no-gutter">
  <div class="col col-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">

      {% for article in articles %}
        {% if article.title == "A propos" %}
          {{ article }}
        {% else %}
      {% endif %}
    {% endfor %}
  </div>
</div>
</div>

<div class="spacer"></div>

</div>
{% endblock %}
