<!DOCTYPE html>
{% if session['language'] %}

  <html lang="{{session['language']}}">

{% else %}
  <html lang="fr">
{% endif %}
  <head>
    
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125745050-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-125745050-1');
      </script>

      {% block head %}
      {% include 'header.html' %}
      <title>{% block title %}beMaker{% endblock title %}</title>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="initial-scale=1">
      <link rel="stylesheet" href="static/">

      {% endblock head %}
  </head>
    <body>
      {% block nav %}
        {% include 'menu.html'%}
      {% endblock nav %}
      <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
      <div class="pageWrap push">
      {% block content %}
      {% endblock content %}
      </div>
      {% block footer %}
      {% include 'footer.html' %}
      {% endblock footer %}


     <script>
     // When the user scrolls down 20px from the top of the document, show the button
     window.onscroll = function() {scrollFunction()};

     function scrollFunction() {
         if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
             document.getElementById("myBtn").style.display = "block";
         } else {
             document.getElementById("myBtn").style.display = "none";
         }
     }

     // When the user clicks on the button, scroll to the top of the document
     function topFunction() {
         document.body.scrollTop = 0;
         document.documentElement.scrollTop = 0;
     }
     </script>

    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <script src="//cdn.jsdelivr.net/npm/vivus@latest/dist/vivus.min.js"></script>
    <script src="{{ url_for('static', filename='js/bigSlide.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>

    </body>
</html>
