{% extends "quiz_base.html" %}

{% block title %} {{quiz['name']}} {% endblock %}

{% block content %}
<!-- {{quiz['name']}} - Checking ({{correct}} / {{total}}) -->

{{ super() }}
<style type="text/css">
    .question-correct:before {
        content: "✓";
        font-size: 30px;
        color: green;
        padding-left: 10px;
    }

    .question-incorrect:before {
        content: "✗";
        font-size: 30px;
        color: red;
        padding-left: 10px;
    }
</style>
<div class="spacer"></div>
<div class='container'>

  		{% with messages = get_flashed_messages(with_categories=true) %}
		  {% if messages %}
		    <ul class=flashes>
		    {% for  category, message in messages %}
					<div class="alert {{ category }} alert-dismissible fade show" role="alert">
					       <h3>{{ message | safe}} &nbsp; &nbsp; {{_("ton resultat")}}  :<b> {{correct}} / {{total}}</b></h3>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
					</div>
		    {% endfor %}
		    </ul>
		  {% endif %}
		{% endwith %}


    {% for question, choice in question_answer %}

            <h4 {% if choice[1] %} class="question-correct" style="color:green!important" {% else %} class="question-incorrect" style="color:red!important"{% endif %}>{{question['text']|safe}}</h4>
              <div class="funkyradio">
                <div class="answerCenter">
            {% for answer in question['options'] %}
                <div {% if answer[1] %}class="funkyradio-success" {% elif not answer[1] %} class="funkyradio-danger" {% endif %}>
                    <input type="checkbox" name="checkbox" id="checkbox4" checked/>
                    <label for="checkbox4">{{answer[0]|safe}}   {% if answer == choice %} - <strong> Chosen </strong> {% endif %} </label>
                </div>
            {% endfor %}
          </div>
        </diV>

              <!-- {% for answer in question['options'] %}
                <p {% if answer[1] %} class="question-correct" {% elif not answer[1] %} class="question-incorrect" {% endif %}>
                    {{answer[0]|safe}} {% if answer == choice %} - <strong> Chosen </strong> {% endif %}
                </p>
            {% endfor %}

             -->

        {% if loop.revindex0 > 0 %}

            <div class="spacer"></div>
        {% endif %}
    {% endfor %}

</div>
<div class="spacer"></div>
{% endblock %}
