
{% extends "base.html" %}

{% block content %}
 <div class="container workshopList">
      <h1 style="text-align:center;">{{_("Contact")}}</h1>
    <dir class="row no-gutters justify-content-md-center">
      <div class=" col col-12 col-sm-12 col-md-8 col-lg-8">

        <h3>{{_("Envoyez-nous un mail directement : ")}}</h3>
        <ul>
          <br><a href="mailto:&#104;&#101;&#108;&#108;&#111;&#64;&#98;&#101;&#109;&#97;&#107;&#101;&#114;&#46;&#101;&#117;">Equipe : &#104;&#101;&#108;&#108;&#111;&#64;&#98;&#101;&#109;&#97;&#107;&#101;&#114;&#46;&#101;&#117;</a></li>
          <br><a href="mailto:&#121;&#111;&#114;&#105;&#99;&#107;&#64;&#98;&#101;&#109;&#97;&#107;&#101;&#114;&#46;&#101;&#117;">Yorick Schetgen : &#121;&#111;&#114;&#105;&#99;&#107;&#64;&#98;&#101;&#109;&#97;&#107;&#101;&#114;&#46;&#101;&#117;</a>
          <br><a href="mailto:&#106;&#117;&#108;&#105;&#101;&#110;&#64;&#98;&#101;&#109;&#97;&#107;&#101;&#114;&#46;&#101;&#117;">Julien Dutertre : &#106;&#117;&#108;&#105;&#101;&#110;&#64;&#98;&#101;&#109;&#97;&#107;&#101;&#114;&#46;&#101;&#117;</a>
          <br><a href="mailto:&#109;&#97;&#114;&#103;&#111;&#116;&#64;&#98;&#101;&#109;&#97;&#107;&#101;&#114;&#46;&#101;&#117;">Margot Brulard : &#109;&#97;&#114;&#103;&#111;&#116;&#64;&#98;&#101;&#109;&#97;&#107;&#101;&#114;&#46;&#101;&#117;</a>
          <br><a href="mailto:&#99;&#111;&#108;&#109;&#64;&#98;&#101;&#109;&#97;&#107;&#101;&#114;&#46;&#101;&#117;">Colm O'Neill : &#99;&#111;&#108;&#109;&#64;&#98;&#101;&#109;&#97;&#107;&#101;&#114;&#46;&#101;&#117;</a>
        </ul>

        <div class="spacer"></div>


        <h3>{{_("Ou utilisez notre formulaire de contact : ")}}</h3>

          <div class="form-area">
              <form role="form" method="POST" action="/succes">
                  <div class="form-group">
                  <input type="text" class="form-control" id="name" name="name" placeholder="{{_("nom")}}"required>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" name="email" placeholder="{{_("email")}}" data-toggle="tooltip" data-placement="top" title=" format : yourname@domain.com" required>
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" id="subject" name="subject" placeholder="{{_("sujet")}}" required>
                </div>
                <div class="form-group">
                <textarea class="form-control" type="textarea" name="message" placeholder="{{_("message")}}" maxlength="450" rows="7" required></textarea>
                </div>

              <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right">{{_("envoyer")}}</button>
              </form>
      </div>
    </div>
 </div>


{% endblock %}
