{% extends "base.html" %}

{% block content %}


	<div class="container workshopList">
	<h1>{{_("bonjour")}} {{current_user.first_name}}</h1>
			{% with messages = get_flashed_messages(with_categories=true) %}
			  {% if messages %}
			    <ul class=flashes>
			    {% for category, message in messages %}
						<div class="alert {{ category }} alert-dismissible fade show" role="alert">
						{{ message }}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    <span aria-hidden="true">&times;</span>
					  </button>
						</div>
			    {% endfor %}
			    </ul>
			  {% endif %}
			{% endwith %}



		<div class="badgesList">
			<h2>{{_("TES BADGES")}}</h2>
			<div class="row">

				{#
				{% for badge, value in current_user.badges.items() %}
				{{ value.lvl }}
				<div class="col-2">
				<div class="badgeItem">
					{% if value.lvl == "1" %}
				<div class="badgeImg {{badge}} active">
					{% elif value.lvl == "2" %}
				<div class="badgeImg  {{badge}} fail">
					{% else %}
				<div class="badgeImg {{badge}}">
					{% endif %}

				</div>
				 <span>{{ badge}}</span>
				 <p>{{ value.lvl }}</p>
				</div>
				</div>
				{% endfor %}
				#}

			</div>
			<h2>{{_("options")}}</h2>
			<a  class="center" href="/change"><button type="button" class="btn btn-light">{{_('modifier le mot de passe')}}</button></a>

</div>
</div>
	<style type="text/css">


	</style>
{% endblock %}
