{% extends "base.html" %}

{% block content %}


<div class="container workshopList ">
	<div class="spacer"></div>
  <h1 style="text-align:center;">{{_("Documents")}}</h1>
  <div class="spacer"></div>
</div>

		<div class="container">

	    <div class="row">
	      <div class="col col-12 col-sm-12 col-md-12 col-lg-12">
	        <div class="row">

						<h2>Sorted documents:</h2>
	        	{% for article in articles %}
			      <div class="col col-12 col-sm-12 col-md-12 col-lg-12">
							<li><a href="/learn/{{article.path}}">title: {{article.title}} | category: {{article.cat}} | description: {{article.desc}}
							</a>
						</div>
			      {% endfor %}
						<hr>
						<h2>ALL documents:</h2>
						{% for article in all_docs %}
			      <div class="col col-12 col-sm-12 col-md-12 col-lg-12">
							<li><a href="/learn/{{article.path}}">title: {{article.title}} | category: {{article.cat}} | description: {{article.desc}}
							</a>
						</div>
			      {% endfor %}
			   </div>
			</div>
		</div>
	</div>

{% endblock %}
