{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="spacer"></div>
  <div class="svgDraw">
    <object id="my-svg" type="image/svg+xml" data="../static/img/chip404.svg"></object>
  </div>
  <div class="all-col">
    <h1 class="center">{{_("page not found")}}</h1>
    <div class="separation-rule"></div>
    <p class="center">{{_("This page does not exist. Please check the URL spelling or revert to the navigation.")}}</p>
  </div>
</div>

{% endblock %}
