{% extends "base.html" %}

{% block content %}


<div class="container workshopList">

<div class="spacer"></div>
<h1 class="center">{{_("Ateliers")}}</h1>

  <p>
    {{_("Envie de mettre en pratique tes connaissances, d’approfondir tes compétences et même de lancer ton propre projet? <br>Découvre-ici les ateliers numériques  accessibles à proximité de chez toi. Pour chaque activité, tu trouveras plus d'informations ainsi que les modalités d'inscription.
")}}
  </p>
{{page}}
  <div class="spacer"></div>

  <ul class="workshop">

  {% for event in events %}
    <li>
      <div class="row">
        <div class=" col col-12 col-sm-12 col-md-2 col-lg-2">
          <div class="img">

            <img src="{%if event.img %}{{event.img}}{% endif%}">
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <div class="desc">

            <h3>{{ event.name }}</h3>

              <span class="wsdate">{{ event.date }}</span>  {% if event.capacity!= None %} <span class="wsdate">max : {{ event.capacity }} {{_("personnes")}}</span>{% endif %} {{_("par")}} <a href="{{event.organizer}}">{{ event.organizer }}</a>
             <p>
                {{ event.desc }}
            </p>

          </div>
        </div>
        <div class="col col-12 col-sm-12 col-md-2 col-lg-2">
          <div class="subbtn">
            <a href="{{ event.url}}" target="_blank">
            <button type="button" class="btn btn-info btn-lg">{{_("inscription")}}</button>
            </a>
          </div>

        </div>
      </div>
      <div class="cb"></div>
    </li>
{% endfor %}

  </ul>
</div>
{% endblock %}
