{% extends "base.html" %}

{% block content %}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		{% for image in page.featured_image %}
		<div class="carousel-item item {% if loop.first %} active {% endif %}">
			<img class="d-block w-100" src="/static/{{image}}" alt="{{loop.index}} slide">
		</div>
		{% endfor %}
	  </div>
	</div>

	<div class="tutoWrapper">

		<div class="tutoContent container">
			<div class="row">
        <div class=" col col-12 offset-lg-3 col-sm-12 col-md-9 offset-md-3 col-lg-9">
					{{page}}
				</div>
			</div>

			<div class="spacer"></div>

			{% if page.quiz %}
			<div class="row">
        <div class=" col col-12 offset-lg-3 col-sm-12 col-md-9 offset-md-3 col-lg-9">
					<div class="alert alert-primary" role="alert">
					{{_("Un quiz est disponible pour recontextualiser cette thematique: apres ces quelques questions tu pourras obtenir un badge correspondant qui te permettra de pratiquer tes nouvelles competences dans un des fablab partenaires.")}}
					<br>
					{% if current_user.is_authenticated %}
					<a href="/quiz/{{page.quiz}}">le quiz {{page.quiz}}, c'est par ici</a>
					{% else %}
					<a href="{{url_for('security.login',next=request.path)}}">connecte toi a ton compte pour acceder au quiz</a>
					{% endif %}
					</div>
				</div>
			</div>

			<div class="spacer"></div>
			{% endif %}

		</div>
	</div>


{% endblock %}
