<footer>
	<div class="container">
  		<div class="row no-gutter">
     		<div class="col col-12 col-sm-12 col-lg-4">
				 <!-- Begin MailChimp Signup Form -->
				 <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">

				 <h4>{{_("Inscrivez-vous à la newsletter&nbsp;:")}}</h4>

					 <!-- Begin MailChimp Signup Form -->
						<form action="https://bemaker.us17.list-manage.com/subscribe/post?u=cdd8dfbf90bd0195566431e2f&amp;id=e7e8df078e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-group" target="_blank" novalidate>
						    <div id="mc_embed_signup_scroll">
							<input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="{{_('email@domain.ext')}}" required>
						    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cdd8dfbf90bd0195566431e2f_e7e8df078e" tabindex="-1" value=""></div>
						    <div class="clear" style="margin-top:10px"><input type="submit" value="{{_('inscription')}}" name="subscribe" id="mc-embedded-subscribe" class="button form-control"></div>
						    </div>
						</form>


				 </div>

    		<div class=" col col-12 col-sm-12 col-lg-3">
					<address>
					<b>BeMaker ASBL</b><br>
					Brussels<br>
					Belgium<br>
					</address>

				 </div>

				 <div class="col col-12 col-sm-12 col-lg-3">
					 <p class="contact">{{_("Contactez-nous: ")}}<a href="mailto:&#104;&#101;&#108;&#108;&#111;&#64;&#98;&#101;&#109;&#97;&#107;&#101;&#114;&#46;&#101;&#117;">&#104;&#101;&#108;&#108;&#111;&#64;&#98;&#101;&#109;&#97;&#107;&#101;&#114;&#46;&#101;&#117;</a> ou utilisez notre <a href="/contact">formulaire de contact<a></p>

				 </div>
				 <div class="col col-12 col-sm-12 col-lg-2">
 					<a href="http://gitlab.com/bemaker"><img class="social-logo" src="{{ url_for('static', filename='img/gitlab.svg')}}"></a>
					<a href="http://facebook.com/bemaker.eu"><img class="social-logo" src="{{ url_for('static', filename='img/flogo.png')}}"></a>
 				 </div>
				</div>

				<div class="spacer"></div>

				<div class="row no-gutter align-items-center justify-content-md-center">
					<div class="col-md-auto">
						<!-- <h4>{{_("partenaires :")}}</h4> -->
					</div>
				</div>
				<div class="row no-gutter align-items-center justify-content-md-center">
					<div class="col-md-auto">
						<img class="logo-partn" title="INNOViris" src="{{ url_for('static', filename='img/INNOViris_white.svg')}}">
					</div>
					<div class="col-md-auto">
						<img class="logo-partn" title="Digital Belgium Skill Funds" src="{{ url_for('static', filename='img/Logo-DBSF.png')}}">
					</div>
				</div>
				<div class="spacer"></div>
				<div class="row no-gutter align-items-center justify-content-md-center">
					<div class="col-md-auto">
						<a href="/partners">{{_("Partenaires additionnels")}}</a>
					</div>
				<div>
     </div>

</footer>
