
<!-- LOAD BOOTSTRAP -->
<link href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet" media="screen">
<!-- LAOD MAIN CSS FILE  -->
<link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" media="screen">
<!-- LOAD MD CONTENT SPECIFIC CSS  -->
<link href="{{ url_for('static', filename='css/mdcss.css')}}" rel="stylesheet" media="screen">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{{path}}
