{% extends "base.html" %}

{% block content %}

	<div id="myCarousel" class="carousel slide home-carousel" data-ride="carousel">
	  <div class="carousel-inner">
	    <div class="carousel-item home-item active">
	      <img class="d-block home-carous-img" src="../static/img/photos/bemaker_imgs/0navid_crop.jpg" alt="First slide">
	    </div>
	    <div class="carousel-item home-item">
	      <img class="d-block home-carous-img" src="../static/img/photos/bemaker_imgs/0francois_crop.jpg" alt="Second slide">
	    </div>
	    <div class="carousel-item home-item">
	      <img class="d-block home-carous-img" src="../static/img/photos/bemaker_imgs/0makertown3_crop.jpg" alt="Third slide">
	    </div>
			<div class="carousel-item home-item">
				<img class="d-block home-carous-img" src="../static/img/photos/bemaker_imgs/0milena_crop.jpg" alt="Third slide">
			</div>
			<div class="carousel-item home-item">
	      <img class="d-block home-carous-img" src="../static/img/jumbo.png" alt="Third slide">
	    </div>

	  </div>
	</div>

<div class="homePush">
  <div class="row no-gutter">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="container">
			<div class="spacer"></div>
        <h2>{{_("Embarque à bord du Tech Truck")}}</h2>
        <p>{{page}}</p>


        <p>{{_("Imprimante 3D, découpeuse laser, kit d’électronique et de robotique, fraiseuse numérique, … Les outils et technologies numériques de fabrication ont embarqué à bord du Tech-Truck pour voyager dans les écoles. Découvre ces nouvelles technologies et leurs incroyables possibilités, apprends à les utiliser et, imagine et crée tes propres projets, …  Avec BeMaker, le monde des makers s'ouvre à toi ! ")}}</p>
        <div class="spacer"></div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">
						<div class='cta'>
							<a href="/login">
              <div class="ico">
							<i class="material-icons md-100">
								account_box
							</i>
              </div>
              <h3>{{_("Inscris-toi&nbsp;!")}}</h3>
              <p>{{_("Inscris-toi pour apprendre et tester tes connaissances, découvrir les ateliers et créer tes propres projets.  Ton passeport vers la communauté maker.")}}
              </p>
							</a>
						</div>
						<div class="spacer"></div>
					</div>



          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">
            <div class='cta'>
							<a href="/learn">
              <div class="ico">
							<i class="material-icons md-100">
								library_books
								</i>

              </div>
              <h3>{{_("Apprends&nbsp;!")}}</h3>
              <p>
                {{_("Apprends en plus sur les technologies numériques de fabrication grâce à des tutoriels et des idées de projet maker.")}}
              </p>
							</a>
            </div>
						<div class="spacer"></div>
          </div>


          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">
            <div class='cta'>
							<a href="/event">
              <div class="ico">
							<i class="material-icons md-100">
							build
							</i>
              </div>
              <h3>{{_("Fabrique&nbsp;!")}}</h3>
              <p>
                {{_("Développe tes compétences lors d'ateliers et évènements makers organisés près de chez toi.")}}
              </p>
            </div>
						</a>
						<div class="spacer"></div>
          </div>

        </div>

        <div class="row center cta-btn">

            <a href="/about">
              <button type="button" class="btn btn-info btn-lg">{{_("En savoir plus")}}</button>
            </a>
        </div>

      </div>

    </div>

  </div>
  </div>

<div class="homePush greyBg">
<div class="spacer"></div>
  <h2>{{_("Apprendre")}} </h2>

		<div class="container-fluid">

	    <div class="row no-gutter">
	      <div class="col col-12 col-sm-12 col-md-12 col-lg-12">
	        <div class="row">
	        	{% for article in articles %}
			      <div class="col col-12 col-sm-6 col-md-4 col-lg-3 tutoItem">
			        <div class="tutoBox">
								<a href="/learn/{{article.path}}">
			        	{% if article.featured_image  %}
			            <img src="../static/{{article.featured_image[0]}}">
			            <div class="overTuto {{ article.cat }}">
			              <h4>{{article.title}}</h4>
			              <span class="desc">{{article.desc}}</span>
			            </div>
			            {% else %}
		                <img src="../static/img/placeHolder.png">
		                <div class="overTuto {{ article.cat }}">
		                  <h4>{{article.title}}</h4>
		                  <span class="desc">{{article.desc}}</span>
		                </div>
		                {% endif%}
										</a>
			        </div>
			      </div>
			      {% endfor %}


			   </div>
			</div>
		</div>
		<div class="row center  cta-btn">
			<a href="/learn"> <button type="button" name="button"  class="btn btn-info btn-lg text-center">{{_("Voir tout")}}</button></a>
</div>
	</div>

  </div>



  <div class="homePush workshopList">
	<div class="spacer"></div>
    <h2>{{_("Ateliers")}} </h2>

    <div class="container">
      <ul class="workshop">

	{% for event in events[:4] %}
    <li>
      <div class="row">
        <div class=" col col-12 col-sm-12 col-md-2 col-lg-2">
          <div class="img">

            <img src="{%if event.img %}{{event.img}}{% endif%}">
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <div class="desc">

            <h3>{{ event.name }}</h3>

              <span class="wsdate">{{ event.date }}</span>  {% if event.capacity!= None %} <span class="wsdate">max : {{ event.capacity }} {{_("personnes")}}</span>{% endif %} {{_("par")}} <a href="{{event.organizer}}">{{ event.organizer }}</a>
             <p>
                {{ event.desc }}
            </p>

          </div>
        </div>
        <div class="col col-12 col-sm-12 col-md-2 col-lg-2">
          <div class="subbtn">
            <a href="{{ event.url}}" target="_blank">
            <button type="button" class="btn btn-info btn-lg">{{_("inscription")}}</button>
            </a>
          </div>

        </div>
      </div>
      <div class="cb"></div>
    </li>
{% endfor %}
      </ul>
	<div class="row center  cta-btn">
			<a href="/event"> <button type="button" name="button"  class="btn btn-info btn-lg text-center">{{_("Voir tout")}}</button></a>
</div>
		</div>

  </div>



{% endblock %}
