{% extends "base.html" %}

{% block content %}


<div class="container workshopList ">
	<div class="spacer"></div>
  <h1 style="text-align:center;">{{_("Apprends")}}</h1>
  <p>
		{{_("Envie de comprendre et de savoir utiliser une imprimante 3D, une découpeuse laser, un kit arduino, etc. ? Envie de d’imaginer et de créer tes projets ? Apprends en plus sur le fonctionnement de ces technologies grâce à nos tutoriels. Testes ensuites tes connaissances avec nos quizzs en ligne et obtiens tes badges makers!<br>De la théorie à la pratique...Jette un coup d'oeil sur ces projets et commence tes propres réalisations !
")}}
  </p>
  <div class="spacer"></div>
</div>

		<div class="container-fluid">

	    <div class="row no-gutter">
	      <div class="col col-12 col-sm-12 col-md-12 col-lg-12">
	        <div class="row">

	        	{% for article in articles %}
			      <div class="col col-12 col-sm-6 col-md-4 col-lg-3 tutoItem">
			        <div class="tutoBox">
								<a href="/learn/{{article.path}}">
			        	{% if article.featured_image %}
			            <img src="../static/{{article.featured_image[0]}}">
			            <div class="overTuto {{ article.cat }}">
			              <h4>{{article.title}}</h4>
			              <span class="desc">{{article.desc}}</span>
			            </div>
			            {% else %}
		                <img src="../static/placeholder.jpg">
		                <div class="overTuto {{ article.cat }}">
		                  <h4>{{article.title}}</h4>
		                  <span class="desc">{{article.desc}}</span>
		                </div>
		                {% endif%}
										</a>
			        </div>
			      </div>
			      {% endfor %}


			   </div>
			</div>
		</div>
	</div>

{% endblock %}
