<nav>
 <div class="row no-gutter">
 <div class=" col col-xs-12 col-sm-12 col-md-12 col-xl-7 no-gutter">

   <ul id="menuMain">
     <li>
       <div class="logo">
         <a href="/" style="display: block;width:100%;height:100%"> </a>
       </div>
     </li>
    <li class="item"><a href="/program">{{_("Programme")}}</a><span class="deco"></span></li>
    <li class="item"><a href="/learn">{{_("Apprendre")}}</a><span class="deco"></li>
    <li class="item"><a href="/event">{{_("Ateliers")}}</a><span class="deco"></li>
    <li class="item"><a href="/about">{{_("À&nbsp;propos")}}</a><span class="deco"></span></li>
    <li class="item"><a href="/contact">{{_("Contact")}}</a><span class="deco"></li>
  </ul>
</div>



  <div class="col-xs-12 col-sm-12 col-md-12 col-xl-5 no-gutter">

    <ul id="menuSecond">
    <form action="https://bemaker.us17.list-manage.com/subscribe/post?u=cdd8dfbf90bd0195566431e2f&amp;id=e7e8df078e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletter-form-menu validate form-group" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
      <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="{{_('email@domain.ext')}}" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cdd8dfbf90bd0195566431e2f_e7e8df078e" tabindex="-1" value=""></div>
        <input type="submit" value="{{_('inscription')}}" name="subscribe" id="mc-embedded-subscribe" class="button form-control">
        </div>
    </form>
    <li><a id="newsletter-toggle" href="#"><button type="button" class="btn btn-outline-secondary btn-sm">{{_("Newsletter")}}</button></a></li>
     {% if current_user.is_authenticated %}
     {% if current_user.has_role('admin') %}
        <li><a href="/admin"><button type="button" class="btn btn-outline-secondary btn-sm">{{_("access admin tools")}}</button></a></li>
     {% endif %}
     <li><a href="/dashboard">{{_("mon profil")}}</a></li>
     <li><a href="{{ url_for('security.logout') }}">{{_("deconnection")}}</a></li>
     {% else %}
     {% include "security/_menu.html" %}
     {% endif %}



     <li class="item"><a href="/language/fr">FR</a>/<a href="/language/nl">NL</a></li>
   </ul>
 </div>
  <div class="cb"></div>

  </div>
</nav>
<a href="#menu" class="menu-link">&#9776;</a>
<nav id="menu" class="panel" role="navigation">
    <ul>
     <li>
       <a href="/"><div class="logo"></div></a>
     </li>
     <li class="item"><a href="/program">{{_("Programme")}}</a><span class="deco"></span></li>
     <li class="item"><a href="/learn">{{_("Apprendre")}}</a><span class="deco"></li>
     <li class="item"><a href="/event">{{_("Ateliers")}}</a><span class="deco"></li>
     <li class="item"><a href="/about">{{_("À&nbsp;propos")}}</a><span class="deco"></span></li>
     <li class="item"><a href="/contact">{{_("Contact")}}</a><span class="deco"></li>
        <li><hr></li>
        {% if current_user.is_authenticated %}
        {% if current_user.has_role('admin') %}
          <li><a href="/admin">Manage Site</a></li>
        {% endif %}
        <li><a href="/dashboard">{{_("mon profil")}}</a></li>
        <li><a href="{{ url_for('security.logout') }}">{{_("déconnection")}}</a></li>
        {% else %}
        {% include "security/_menu.html" %}
        {% endif %}
        <li class="item"><a href="/language/fr">FR</a>/<a href="/language/nl">NL</a></li>
    </ul>
    {{current_user.first_name}}
</nav>
