{% extends "base.html" %}

{% block content %}


<div class="container">

<div class="spacer"></div>
<h1 class="center">{{_("Nos partenaires")}}</h1>

<div class="container-fluid">

  <div class="row no-gutter">
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row">

        {% for article in articles %}
          {% if article.title == "Partners" %}
            {{ article }}
          </div>
        </div>
      </div>

            <div class="row">
            {% for logo in article.partnerLogos %}
              <div class=" col col-6 col-sm-12 col-md-3 col-lg-3">
                  <img class=" w-100 partnerLogo" src="/static/{{logo}}">
					      </div>
            {% endfor %}
            </div>
          {% else %}
        {% endif %}
      {% endfor %}

<div class="spacer"></div>

</div>
{% endblock %}
