{% extends "base.html" %}
{% block title %} {{quiz['name']}} {% endblock %}

{% block body %}
    <div class='container'>
        <span id='title'>{% block page_title %} {% endblock %}</span>
        <p>{{quiz['description']|safe}}</p>
        {% block questions %} {% endblock %}
    </div>
{% endblock %}
