{% extends "quiz_base.html" %}
{% block content %}
<div class='container'>
    <form method="post" action="/check_quiz/{{id}}">
        <input type="hidden" name="ord" value="{{quiz_ordering}}" />
        <div class="spacer"></div>
        <h2 class="center">{{quiz['description']|safe}}</h2>
        <div class="spacer"></div>
        {% for question in quiz['questions'] %}
            {% set outer_loop = loop %}
            <p>
                <h5>{{question['text']|safe}}</h5>
                <div class="funkyradio">
                  <div class="answerCenter">
                    {% for answer in question['options'] %}

                      <div class="funkyradio-primary">
                          <input type="radio"  name="{{outer_loop.index0}}" id="ans-{{outer_loop.index}}-{{loop.index}}" value="{{loop.index0}}"/>
                          <label for="ans-{{outer_loop.index}}-{{loop.index}}" >{{answer[0]|safe}}</label>
                    </div>

                    <!-- <p><label class="h5"></span><input type="radio" class="custom-control-input" checked="checked" name="{{outer_loop.index0}}" value="{{loop.index0}}" /> {{answer[0]|safe}}</label></p> -->

                {% endfor %}

                </div>
                </div>
                <div class="spacer"></div>
            </p>
        {% endfor %}
        <input style="width:100%" type="submit" value="{{_("swwooooch")}}">
    </form>
    <div class="spacer"></div>
  </div>
{% endblock %}
