{% extends "base.html" %}
{% block title %} Quiz Website - All Quizzes {% endblock %}
{% block content %}
    <div class='container'>
      <div class="spacer"></div>
        <span id='title' class="center"><h1>{{_("tout les questionnaires")}}</h1></span>
        <ul>
            {% for id, name in quiz_names %}
                <li class="h5" ><a href="{{url_for('quiz', id=id)}}">{{name}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
