{% extends "base.html" %}

{% block content %}

<div class="container">
<div class="spacer"></div>
	<div class="svgDraw">
		<object id="my-svg" type="image/svg+xml" data="../static/img/logo.svg"></object>
	</div>
	<h1 class="center"> <i class="material-icons md-48"> mail_outline</i> &nbsp;{{gettext("Merci pour l'email")}} &nbsp; <i class="material-icons md-48"> mail_outline</i> </h1>
	<p class="center">{{_("nous vous repondrons au plus vite ! ")}}</p>

</div>


{% endblock %}
